  body {
    background-color: #161616;
    color: #fafafa;
    text-align: center;
  }
  h1 {
    margin-top: 25px;
    font-size: 75px;
    font-family: 'VT323', monospace;
  }
  form {
    display: inline-block;
    text-align: left;
    font-family: 'VT323', monospace;
  }
  input[type="text"] {
    padding: 10px;
    font-size: 22px;
    width: 250px;
    border: rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'VT323', monospace;
  }
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4c4c4c;
    color: #fafafa;
    border: whitesmoke;
    border-radius: 10px;
    font-size: 26px;
    cursor: pointer;
    font-family: 'VT323', monospace;
  }
  #result {
    margin-top: 50px;
    font-size: 32px;
    color: #c8dfe6;
    font-family: 'VT323', monospace;
  }
  #sealjpg {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #credit {
    display: block;
    margin: 20px auto 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    color: #c8dfe6;
    font-family: 'VT323', monospace;
  }